{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container forgot mt-5 mb-5">
    <div class="row mt-5 mb-5">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="bg-light py-3 px-3 mt-5 mb-5">
                 <h1>Mot de passe oublié ? </h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Envoyer</button>
                {{ form_end(form) }}
            </diV>
        </div>
    </div>
</div>


{% endblock %}