{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}

    <div class="container forgot mt-5 mb-5">
        <div class="row mt-5 mb-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 mt-5 mb-5">
                <div class="bg-light py-3 px-3 mt-5 mb-5">
                    <h1>Modification du mot de passe</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
                    {{ form_end(form) }}
                </diV>
            </diV>
        </diV>        
    </div>

{% endblock %}