<!DOCTYPE html>
<html lang="fr">
    <head>   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/img/favicon.png" type="image/png">
        <title>{% block title %}Bienvenue sur SnowTricks !{% endblock %}</title>
            
        {% block stylesheets %} 
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>         
        {% endblock %}
        {% include 'partials/header.html.twig' %}   
    </head>

    <body>
        {% block body %}               
        {% endblock %}
         
            <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/trick.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
        {% block javascripts %}
        {% endblock %}
        {% include 'partials/footer.html.twig' %}    
    </body>    
</html>
